<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Handle Authorization Header -->
                <rule name="Authorization Header">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP:Authorization}" pattern=".+" />
                    </conditions>
                    <action type="Rewrite" url="." />
                </rule>

                <!-- Redirect Trailing Slashes If Not A Folder -->
                <rule name="Redirect Trailing Slashes" stopProcessing="true">
                    <match url="(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="{R:1}" />
                </rule>

                <!-- Send Requests To Front Controller -->
                <rule name="Laravel Front Controller" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
